---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Assets
import { Image } from "astro:assets";
// import the logos
import fishmanLogo from "@/images/logos/fishman-189x48-clean.png";
const logos = [
  {
    src: fishmanLogo,
    alt: "TheFishman logo",
    href: "https://www.fishmanservices.com/",
  },
];
---

<section>
  <Wrapper variant="standard" class="py-24">
    <div
      class="grid grid-cols-1 py-12 items-center border-y md:grid-cols-[max-content_max-content] border-base-800 gap-8 md:gap-12 justify-center"
    >
      <div class="max-w-48 md:max-w-56">
        <Text tag="p" variant="textXS" class="text-base-300 text-balance">
          Some of the amazing companies we have worked with
        </Text>
      </div>
      <div>
        <div class="flex items-center justify-center">
          {
            logos.map((logo) => (
              <a
                href={logo.href}
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Visit Fishman Services"
              >
                <Image
                  width={189}
                  height={48}
                  class="h-auto w-[189px] max-w-full"
                  src={logo.src}
                  alt={logo.alt}
                />
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </Wrapper>
</section>
